<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stackoverflow Quick Stats</title>
</head>
<body style="background-color: #f4f4f4;height: 100%; width: 100%;">
    <div style="margin: 50px 50px 0 50px;">
        <h4>Quick answering statistics for &nbsp;<span style="color: darkmagenta">{{quick_stats.site}}</span></h4>
        <hr/>
        <h5>Total answers: {{quick_stats.total_count}}</h5>
        <h5>Total accepted answers: {{quick_stats.accepted_count}}</h5>
        <h5>Average answers per question {{quick_stats.average_answers_per_question}}</h5>
        <hr/>
        <h5>Top 10 Worst Answers Comments</h5>

       {% for item in quick_stats.top10_worst_answers_comments %}
            <div>
                   <span>Answer Id &nbsp;</span>{{item.answer_id}}<span style="width:10px;"></span><span>Has {{item.comments_count}} Comments</span>
            </div>
        {% endfor %}
        <h5>Elapsed {{quick_stats.time_elapsed}} secs</h5>
    </div>
</body>
</html>